/Laboratorio1&2/DesktopApp/nbproject/private/
/Laboratorio1&2/DesktopApp/build/
/Laboratorio1&2/DesktopApp/dist/
/Laboratorio1&2/ConsoleApp/nbproject/private/
/Laboratorio1&2/ConsoleApp/build/
/Laboratorio1&2/ConsoleApp/dist/
/Laboratorio1&2/JavaAPI/build/
/Laboratorio1&2/JavaAPI/dist/
/Laboratorio1&2/JavaAPI/nbproject/private/
/Laboratorio1&2/Web/nbproject/private/
/Laboratorio1&2/Web/build/
/Laboratorio1&2/Web/dist/