/Lab1&2/nbproject/private/
/Lab1&2/build/
/Lab1&2/dist/
/FrontEnd/nbproject/private/
/FrontEnd/build/
/ConsoleApp/nbproject/private/
/DesktopApp/nbproject/private/
/Api/build/
/Api/dist/
/Api/nbproject/private/
/JavaAPI/build/
/JavaAPI/dist/
/JavaAPI/nbproject/private/
/DesktopApp/build/
/ConsoleApp/build/
/FrontEnd_WebApp01/build/
/FrontEnd_WebApp01/nbproject/private/
/FrontEnd_WebApp01/dist/