/JavaAPI/build/
/JavaAPI/dist/
/JavaAPI/nbproject/private/
/ConsoleApp/nbproject/private/
/ConsoleApp/build/
/ConsoleApp/dist/
/DesktopApp/nbproject/private/
/DesktopApp/build/
/DesktopApp/dist/
/Web/nbproject/private/
/Web/build/
/Web/dist/
/Web/nbproject/ant-deploy.xml
/Web/nbproject/project.properties
