#contenedorPrincipal{
    padding: 10px;
    margin-top: 3%;
}

#divTabla{
   padding: 10px;
   border: 1px solid #cccccc; 
}

#divAgregarProductos{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #cccccc;
    float: left;
}