<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>jspServletJdbcExemple</display-name>
    <welcome-file-list>
        <welcome-file>ListarCarreras.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletProfesor</servlet-name>
        <servlet-class>Control.ServletProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarrera</servlet-name>
        <servlet-class>Control.ServletCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCurso</servlet-name>
        <servlet-class>Control.ServletCurso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProfesor</servlet-name>
        <url-pattern>/ServletProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarrera</servlet-name>
        <url-pattern>/ServletCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCurso</servlet-name>
        <url-pattern>/ServletCurso</url-pattern>
    </servlet-mapping>
</web-app>
